@page
@model WeBoozin.Pages.AlcInventory.GinModel
@{
    ViewData["Title"] = "Gin";
}

<div class="container">
    <div class="row">
        @for (int i = 0; i < Model.Products.Count; i++)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="@Model.Products[i].Image" class="card-img-top" alt="@Model.Products[i].ProductName">
                    <div class="card-body">
                        <h4 class="card-title">@Model.Products[i].ProductName</h4>
                        <p class="card-text">@Model.Products[i].Description</p>
                        <h4 class="card-text">Quantity: @Model.Products[i].QuantityInMl</h4>
                        <h4 class="card-text">Availability: @Model.Products[i].QuantityInStock</h4>
                        <h4 class="card-text">Alcohol Content: @Model.Products[i].AlcoholContent %</h4>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (TempData["Error"] != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @TempData["Error"].ToString()
                                </div>
                            }
                            <form method="post" asp-page-handler="AddToCart" asp-route-productId="@Model.Products[i].ProductId">
                                <input type="number" name="quantity" value="1" required @TempData["Error"] />
                                <button type="submit" class="btn btn-primary">Add to Cart</button>
                            </form>
                        }
                        else
                        {
                            <h4>
                                Please <button class="btn btn-primary text-black"><a href="/UserLogic/Login"><h4>Login</h4></a></button> or
                                <button class="btn btn-primary"><a href="/UserLogic/Register"><h4>Register</h4></a></button>  to add items to a cart.
                            </h4>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>