@page
@model WeBoozin.Pages.AlcInventory.TequilaModel
@{
    ViewData["Title"] = "Tequila";
}

<div class="container">
    <div class="row">
        @for (int i = 0; i < Model.Products.Count; i++)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="@Model.Products[i].Image" class="card-img-top" alt="@Model.Products[i].ProductName">
                    <div class="card-body">
                        <h4 class="card-title">@Model.Products[i].ProductName</h4>
                        <p class="card-text">@Model.Products[i].Description</p>
                        <h4 class="card-text">Quantity: @Model.Products[i].QuantityInMl</h4>
                        <h4 class="card-text">Availability: @Model.Products[i].QuantityInStock</h4>
                        <h4 class="card-text">Alcohol Content: @Model.Products[i].AlcoholContent %</h4>
                        <button type="button" class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>